DEPLOYER_PRIVATE_KEY=your_deployer_private_key_here
MANAGER_PRIVATE_KEY=your_manager_private_key_here
RESEARCH_AGENT_PRIVATE_KEY=your_research_agent_private_key_here
RISK_AGENT_PRIVATE_KEY=your_risk_agent_private_key_here
YIELD_AGENT_PRIVATE_KEY=your_yield_agent_private_key_here
FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
CHAIN_ID=43113
MOCK_USDC_ADDRESS=0xEcfbE7c72Ba17168209aDDc8B86DB5f9Af1ccdcb
ERC8004_IDENTITY_REGISTRY=0x7307EEB2F4d903eF9bab3Ec1c6ff2CB798e7C361
ERC8004_REPUTATION_REGISTRY=0x1b83e954DC908ED4C74ECe99D29cF7ffC3A0297F
AGENT_REGISTRY_ADDRESS=0x8Ac396E032ECd2f1F8BAf9E88e3Fb76Befd2A0CB
ESCROW_ADDRESS=0x6f9028E92EF4e50Cea71524A40F88Ea02126E660
PORT=3001
